<div class="left-container">
    <h2 class="title">Insert Your Expenses Here For Resources as a Woman in Tech (Per Year)</h2>
    <input class="input" type="text" [(ngModel)]="userInput1" [placeholder]="placeholder1" >
    <input class="input" type="text" [(ngModel)]="userInput2" [placeholder]="placeholder2" >
    <input class="input" type="text" [(ngModel)]="userInput3" [placeholder]="placeholder3" >
    <input class="input" type="text" [(ngModel)]="userInput4" [placeholder]="placeholder4" >
    <button (click)="buttonClicked()">Generate Response</button>
    <p>{{ text }}</p>
</div>

